<% if current_user  %>
  <h3>Welcome, <%= "#{current_user.name}" %></h3>
  <p><%= image_tag(current_user.image) %></p>

  <%= link_to "Logout", logout_path %>
<% else %>
  <%= link_to "Sign in with GitHub", "/auth/github" %>
<% end %>
